{% extends 'maintmp.html' %}

{% block title %}Информация{% endblock title %}

{% block content %}
<header class="bios border-bottom">
    <div class="profile inline-block clearfix col">
        <h>hlghl</h>
        <p>HTML, CSS, C++, Python, JS</p>
        <div class="clearfix w-a">
            <a href="https://t.me/h_lghl/" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/tg.png"></a>
            {% comment %} <a href="" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/email.png"></a> {% endcomment %}
            <a href="https://www.instagram.com/_hlghl_/" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/inst.png"></a>
        </div>
    </div>

    <div class="profile inline-block clearfix col">
        <h>Tim</h>
        <p>HTML, CSS, Python, partly JS</p>
        <div class="clearfix w-a">
            <a href="https://t.me/tranquillityall/" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/tg.png"></a>
            {% comment %} <a href="" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/email.png"></a> {% endcomment %}
            <a href="https://www.instagram.com/tranquillity_all/" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/inst.png"></a>
        </div>
    </div>

    <div class="profile inline-block clearfix col">
        <h>Vlados</h>
        <p>Little bit of HTML and CSS, Design</p>
        <div class="clearfix w-a">
            <a href="https://t.me/vladosthebest/" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/tg.png"></a>
            {% comment %} <a href="" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/email.png"></a> {% endcomment %}
            <a href="https://www.instagram.com/vlad0sthebest/" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/inst.png"></a>
        </div>
    </div>

    <div class="profile inline-block clearfix col">
        <h>Echways</h>
        <p>HTML, CSS, C++, Python, partly JS</p>
        <div class="clearfix w-a">
            <a href="https://t.me/echways/" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/tg.png"></a>
            {% comment %} <a href="" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/email.png"></a> {% endcomment %}
            <a href="https://www.instagram.com/anechways/" class="" target="_blank"><img class="pf-img valign-mid" src="static/media/icons/inst.png"></a>
        </div>
    </div>
</header>

<main class="container block p3">
    <div class="clearfix mxn2 abuscont">
        <div class="px2 txc">
            <h3 class="mb2 ffca">Наши достижения</h3>
            {% for achievements in object_list %}
                <p class="ffca">{{ achievements.text }}</p><br>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}